/* a { cursor: poniter; } */

/* @import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Lato:400,300,700');

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    background: rgb(10, 113, 182);
} */

